/*base*/

body {
	font-size: 16px;
	line-height: 12px;
	font-weight: bold;
	font-family: 'Roboto', Arial, sans-serif;
	background: #849d8f;
	color: white;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1146px;
	margin: 0 auto;
}



/*header*/

.logo {
	float: left;
	width: 154px;
}

.main-navigation {
	float: left;
	width: 355px;
	margin-left: 29px;
}

.main-navigation ul {
	padding: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	margin-right: 26px;
	font-size: 0;
	list-style: none;
}
.main-navigation li:last-child {
	margin-right: 0;
}

.main-navigation li a {
	line-height: 18px;
	font-size: 16px;
	font-family: "Roboto", Arial, sans-serif;
	color: white;
	text-decoration: none;
}

.search {
	float: right;
}

/*PROMO. СЛАЙДЕР*/
.promo {
	text-align: center;
}

.job {
	float: right;
}

.promo-title{
	margin-top: 324px;
	line-height: 60.35px;
	font-size: 60px;
	font-family: "Roboto", Arial, sans-serif;
	color: white;
}

input[type="radio"] {
	float: left;
}


/*ADDITIVE БОНСЫ + ВИДЫ МОРОЖЕНОГО*/

.razz {
	float: left;
	width: 560px;
}

.chocolate {
	float: right;
	width: 560px;
}

.free {
	line-height: 41px;
	font-size: 35px;
	font-family: "Roboto", Arial, sans-serif;
	color: white;
}

.annex {
	line-height: 22px;
	font-size: 18px;
	font-family: "Roboto", Arial, sans-serif;
}

.btn-right {
	float: right;
	margin-top: 50px;
}

.ice-cream {
	margin-top: 40px;
}

article {
	float: left;
	width: 22.2%;
	margin-right: 2.2%;
}

article:last-child {
	margin-right: 0;
}

/*DVANTAGES ПРЕИМУЩЕСТВА*/


.depiction {
	float: left;
	width: 532px;
	margin-right: 33px;
}

.depiction-text {
	line-height: 22px;
	font-size: 16px;
	font-family: "Roboto", Arial, sans-serif;
}

.life {
	float: left;
	width: 560px;
	margin-right: 26px;
}

.chack-text {
	line-height: 30px;
	font-size: 24px;
	font-family: "Roboto", Arial, sans-serif;

}

.mail {
	float: right;
	width: 560px;
}


.mail-text {
	line-height: 22px;
	font-size: 16px;
	font-family: "Roboto", Arial, sans-serif;
}

input [type="mail"] {
	display: block;
	margin-top: 40px;
}

.contact {
	float: right;
}

.modal-social {
	float: left;
	width: 16.230366492146596858638743455497%;
}

footer {
	margin-top: 
}

.info {
	float: left;
	width: 28.446771378708551483420593368237%;
	margin-left: 18.586387434554973821989528795812%;
	font-size: 0;
}

.info a {
	display: inline-block;
	vertical-align: top;
	margin-right: 2.7923211169284467713787085514834%;
	line-height: 18px;
	font-size: 13px;
	font-family: "Roboto", Arial, sans-serif;
}

.info a:last-child {
	margin-right: 0;
}

.htmlacademy {
	float: right;
}


/*catalog*/

.menu-list {
	float: left;
	padding: 0;
}

.menu-list li {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
	list-style-type: none;
}
.menu-list li:first-child {
	margin-left: 0;
}

.menu-list li:last-child {
	margin-right: 0;
}

.sorting-text {
	line-height: 41px;
	font-size: 35px;
}

.sorting {
	float: left;
}

input[type="range"] {
	float: left;
}

input[type="radio"] {
	float: left;
}

input[type="checkbox"] {
	float: left;
}

.linked {
	float: right;
}